/******************************
Menu
*******************************/
ul#css3menu,
ul#css3menu ul{
    margin-top:0px;
    margin-left:0px;
    list-style:none;
    background-color:#6684C1;
    border-width:3px;
    border-style:solid;
    border-color:#FFF;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
}

ul#css3menu a:before,
ul#css3menu a:after
{
    content:"";
}

ul#css3menu{
    float:none;
    position:relative;
    margin-top:3px;
    margin-left:3px;
}

ul#css3menu ul{
    display:none;
    position:absolute;
    left:98%;
    top:-1px;
    -moz-box-shadow:3.5px 4px 5px #6684C1;
    -webkit-box-shadow:3.5px 4px 5px #6684C1;
    box-shadow:3.5px 4px 5px #6684C1;
    padding:0 1px 1px;
}

ul#css3menu li:hover>*{
    display:block;
}
ul#css3menu li:hover{
    position:relative;
}
ul#css3menu{
    padding:10px;
    display:block;
    font-size:100%;
    position:absolute;
    z-index:1000;
    left:0px;
    top:0px;
}
ul#css3menu li{
    display:block;
    white-space:nowrap;
    font-size:100%;
}

ul#css3menu>li,
ul#css3menu li{
    margin:3px 0 0;
}

ul#css3menu a:active, 
ul#css3menu a:focus{
    outline-style:none;
}

ul#css3menu a{
    display:block;
    vertical-align:middle;
    text-align:left;
    text-decoration:none;
    font:100% Verdana;
    color:#FFF;
    cursor:pointer;
    padding:3px;
    background-color:#6684C1;
    background-image:none;
    background-position:0 0;
    border-width:1px 0 0 0;
    border-style:solid;
    border-color:#6684C1;
    border-radius:20px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
}

ul#css3menu ul li{
    float:none;
}

ul#css3menu ul a{
    text-align:left;
}

ul#css3menu li:hover>a{
    background-color:#0c0d0c;
    border-color:#424542;
    border-style:solid;
    font:100% Verdana;
    color:#FFF;
    text-decoration:none;
    background-image:url("mainbk.png");
    background-position:0 100%;
}

ul#css3menu img{
    border:none;
    vertical-align:middle;
    margin-right:20px;
    width:16px;
    height:16px;
}

ul#css3menu ul img{
    width:16px;
    height:16px;
}

ul#css3menu img.over{
    display:none;
}

ul#css3menu li:hover > a img.def{
    display:none;
}

ul#css3menu li:hover > a img.over{
    display:inline;
}

ul#css3menu span{
    display:block;
    overflow:visible;
    background-image:url("arrowsub.png");
    background-position:right center;
    background-repeat:no-repeat;
    padding-right:24px;
}

ul#css3menu li.topfirst>a{
    border-width:0;
}

ul#css3menu li.subfirst>a{
    border-width:0;
}