{include file="cabecera.html" title="Consultas de Personal"}
<h4>BUSQUEDA DEL PERSONAL</h4>
<p>Selecione una letra para mostrar el personal cuyo apellido comienza por la letra indicada</p>
<div class="abc">
	<a href="?letra=a&amp;accion=letra">A</a> 
	<a href="?letra=b&amp;accion=letra">B</a> 
	<a href="?letra=c&amp;accion=letra">C</a> 
	<a href="?letra=d&amp;accion=letra">D</a> 
	<a href="?letra=e&amp;accion=letra">E</a> 
	<a href="?letra=f&amp;accion=letra">F</a> 
	<a href="?letra=g&amp;accion=letra">G</a> 
	<a href="?letra=h&amp;accion=letra">H</a> 
	<a href="?letra=i&amp;accion=letra">I</a> 
	<a href="?letra=j&amp;accion=letra">J</a> 
	<a href="?letra=k&amp;accion=letra">K</a> 
	<a href="?letra=l&amp;accion=letra">L</a> 
	<a href="?letra=m&amp;accion=letra">M</a> 
	<a href="?letra=n&amp;accion=letra">N</a> 
	<a href="?letra=o&amp;accion=letra">O</a> 
	<a href="?letra=p&amp;accion=letra">P</a> 
	<a href="?letra=q&amp;accion=letra">Q</a> 
	<a href="?letra=r&amp;accion=letra">R</a> 
	<a href="?letra=s&amp;accion=letra">S</a> 
	<a href="?letra=t&amp;accion=letra">T</a> 
	<a href="?letra=u&amp;accion=letra">U</a> 
	<a href="?letra=v&amp;accion=letra">V</a> 
	<a href="?letra=w&amp;accion=letra">W</a> 
	<a href="?letra=x&amp;accion=letra">X</a> 
	<a href="?letra=y&amp;accion=letra">Y</a> 
	<a href="?letra=z&amp;accion=letra">Z</a> 
</div>

<p>O si lo desea, escriba en el cuadro texto para hacer una busqueda completa</p>

{$f1}
{if $datos}
<h4>USUARIOS SOLICITADOS</h4>
<div id="resultados">
<table  class="enhancedtable" border="0" cellspacing="3" cellpadding="3" width="100%">
<thead>
	<tr> 
		<th>Cedula</th>
		<th>Apellidos y Nombres</th>
		<th>Login</th>
		<th>Nivel</th>
		<th>&nbsp;</th>
		<th>&nbsp;</th>
		<th>&nbsp;</th>
	</tr>
</thead>
<tbody>
	{section name=p loop=$datos}
	<tr>
		<td>{$datos[p].id}</td>
		<td>{$datos[p].apellido}, {$datos[p].nombre}</td>
		<td>{$datos[p].login}</td>
		<td>{$datos[p].nivel_id}</td>
		<td><a href="ficha_personal.php?id={$datos[p].id}"><img onmouseover='overlib("<strong>Ver Ficha</strong>",WIDTH, 70)' src="./imagenes/ver.ico" onmouseout='return nd();'/></a></td>
		<td><a href="modificar_personal.php?id={$datos[p].id}"><img onmouseover='overlib("<strong>Modificar</strong>",WIDTH, 70)' src="./imagenes/boton1.png" onmouseout='return nd();'/></a></td>
		<td><a href="retirar_personal.php?id={$datos[p].id}"><img onmouseover='overlib("<strong>Retirar</strong>",WIDTH, 70)' src="./imagenes/eliminar.png" onmouseout='return nd();'/></a></td>
	</tr>{/section}
</tbody>
</table>
</div>
{else}
	{if $error1 eq 2} 
		<h3>NO SE ENCONTRÓ PERSONAL CON ESOS PARAMETROS, VERIFIQUE...</h3>
	{else}
		{if $error1 eq 1} 
			<h3>NO SE ENCONTRÓ PERSONAL CUYO APELLIDO COMIENZA POR ESA LETRA, VERIFIQUE...</h3>
		{/if}
	{/if}
{/if}
{include file="pie.html"}