{include file="cabecera.html" title="Registrar Personal"}
{if $smarty.session.mensaje}
</p>
<div id="mensaje">{$smarty.session.mensaje}</div>
{/if}
{$f1}
{include file="pie.html"}
{literal}
<script>
	var f1 = new LiveValidation('id'); f1.add( Validate.Presence ); f1.add( Validate.Length, { minimum: 7 } );
	var f2 = new LiveValidation('nombre'); f2.add( Validate.Presence ); 
	var f3 = new LiveValidation('apellido'); f3.add( Validate.Presence ); 
	var f4 = new LiveValidation('direccion'); f4.add( Validate.Presence ); 
	var f6 = new LiveValidation('tlf_fijo'); f6.add( Validate.Length, { minimum: 7 } );
	var f10 = new LiveValidation('tlf_movil'); f10.add( Validate.Length, { minimum: 7 } );
	var f7 = new LiveValidation('clave'); f7.add( Validate.Presence ); f7.add( Validate.Length, { minimum: 6 } );
	var f8 = new LiveValidation('clave2'); f8.add( Validate.Presence ); f8.add( Validate.Length, { minimum: 6 } ); f8.add( Validate.Confirmation, { match: 'clave' } );
	var f9 = new LiveValidation('correo'); f9.add( Validate.Email );
	var f5 = new LiveValidation('login'); f5.add( Validate.Presence ); f5.add( Validate.Length, { minimum: 6 } );
	
</script>
{/literal}
